<html>
    <head>
        <title>First Attempt at Templating using Jinja with Flask</title>
        <link href="{{ url_for('static', filename='css/style.css') }}"
        rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>First Attempt at Templating using Jinja with Flask</h1>
        <p>My List of Tasks:</p>
        <table border=0>
            <caption>ToDo List</caption>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            {% for row in rows: %}
            <tr>
                {% for col in row: %}
                <td>{{ col }}</td>
                {% endfor %}
                <td><button type="button">Edit</button></td>
                <td><button type="button">Delete</button></td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>

